* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Roboto Slab", serif;
  background-color: #f5f5f5;
}

/* Paragraph */

p {
  font-size: 1.5vw;
}

.carousell {
  display: none;
}

/* Carousell Section Mobile */
@media screen and (min-width: 320px) and (max-width: 700px) {
  #wrapper {
    display: none;
  }

  .carousell {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 1em auto;
    margin-left: 5px;
  }

  .slider-outer {
    width: 100%;
    height: auto;
  }

  .slider-inner {
    width: 90vw;
    height: 20em;
    position: relative;
    float: left;
    overflow: hidden;
    border: #dd3927 solid 4px;
  }

  .slider-inner img {
    display: none;
    width: 95vw;
    height: -webkit-fill-available;
  }

  .slider-inner img.first-img {
    display: inline-block;
  }

  .prev,
  .next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
  }

  .prev {
    position: relative;
    margin-right: -46px;
    z-index: 100;
  }

  .next {
    position: relative;
    margin-left: -48px;
    z-index: 100;
  }
}

/* Image Slider Tablet */

@media screen and (min-width: 701px) and (max-width: 1024px) {
  #wrapper {
    display: none;
  }

  .carousell {
    display: inline-block;
    width: 100%;
    margin: 4em auto;
    margin-left: 0.5em;
  }

  .slider-inner {
    width: 95vw;
    height: 35em;
    position: relative;
    float: left;
    overflow: hidden;
    border: #dd3927 solid 4px;
  }

  .slider-inner img {
    display: none;
    width: 95vw;
    height: -webkit-fill-available;
  }

  .slider-inner img.first-img {
    display: inline-block;
    align-content: center;
  }

  .prev,
  .next {
    float: left;
    margin-top: 15em;
    cursor: pointer;
  }

  .prev {
    position: relative;
    margin-right: -46px;
    z-index: 100;
  }

  .next {
    position: relative;
    margin-left: -48px;
    z-index: 100;
  }
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
  border-top: 4px solid #e74c3c;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

/* White and Grey Image and (Title - h1) */

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 4vw;
}

/* Grey Page Section */

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #dd3927;
  font-size: 5vw;
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* White Page Section */

.top h1 {
  color: #192a56;
  font-size: 6vw;
}

.top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

/* Moving Page Separator */

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #e74c3c;
  width: 8px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Short Biography Section */

.bio {
  padding: 10rem 0;
  background-color: #222;
  text-align: center;
  line-height: 3rem;
  border-top: 4px solid #e74c3c;
}

.bio-h2 {
  color: #fff;
  font-size: 3vw;
  padding: 20px;
  line-height: 5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.bio p {
  text-align: center;
  padding: 0 100px;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.7);
}

/* Short-Biography Media Querry Mobile */

@media screen and (max-width: 768px) {
  .bio {
    padding: 4rem 0;
  }

  .bio h2 {
    font-size: 10vw;
    padding: 1rem;
  }

  .bio p {
    font-size: 5vw;
    padding: 0 40px;
  }
}

/* LinkedIn Profile Section */

.profile-li {
  background: #e74c3c;
  padding: 10rem 0;
  box-shadow: inset 0 0 20px #000000;
}

.profile-li h2 {
  width: 100%;
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 2em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.profile-li p {
  font-size: 1.5vw;
  text-align: center;
  line-height: 5em;
  color: rgba(255, 255, 255, 0.7);
}

/* LinkedIn Profile Section Media Querry Mobile*/

@media screen and (max-width: 768px) {
  .profile-li {
    padding: 5rem 0;
    line-height: 1.5em;
  }

  .profile-li h2 {
    font-size: 2vw;
    padding: 8px;
  }

  .profile-li p {
    font-size: 1.3vw;
    padding: 15px;
  }
}

/* HR Tag - Divider */

hr.divider {
  max-width: 4rem;
  border-color: #fff;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-width: 2px;
}

/* Button */

.button {
  display: block;
  width: 25vh;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #212529;
  background-color: #fff;
  cursor: pointer;
  border: 15px solid transparent;
  border-radius: 2.5rem;
  box-shadow: 10px 5px 5px;
}

.button:hover {
  background-color: #343a40;
  color: #f5f5f5;
  transition: ease-in-out 0.3s;
}

/* Button Media Querry Mobile*/

@media screen and (max-width: 768px) {
  .button {
    width: 18vh;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .profile-gh h2 {
    font-size: 2rem;
    line-height: 4em;
  }
}

/* About Me Section */

.container {
  width: 100%;
  padding: 7rem 0;
  background-color: #192a56;
  overflow: hidden;
}

#boxes .box {
  text-align: center;
  padding: 20px;
}

#boxes .box img {
  width: 200px;
}

.box h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#boxes .box p {
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

/* Media Querry Mobile */
@media screen and (max-width: 768px) {
  #boxes .box img {
    width: 130px;
  }

  .box h2 {
    font-size: 1.5rem;
  }

  #boxes .box p {
    font-size: 1.1rem;
    text-align: center;
  }
}

/* Contact Section */

.contact {
  background-image: linear-gradient(
      15deg,
      rgba(11, 21, 46, 0.75) 100%,
      rgba(231, 76, 60, 0.6) 100%
    ),
    url(/img/contact.jpg);
  background-position: center;
  background-size: cover;
  padding: 18rem;
}

.contact h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 2em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.contact p {
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* Contact Section Media Querry Mobile */

@media screen and (max-width: 768px) {
  .contact {
    padding: 7rem;
  }

  .contact h2 {
    font-size: 2.2rem;
    padding: 1rem;
  }

  .contact p {
    font-size: 1.5rem;
  }
}

/* Contact Info Section */

.cont-info p {
  width: 100%;
  color: #e74c3c;
  padding: 15px;
  text-align: center;
}

.cont-info p:hover {
  color: #f5f5f5;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

/* Contact Info Media Querry Mobile */

@media screen and (max-width: 768px) {
  .cont-info p {
    font-size: 1.2rem;
  }
}

/* Footer */

#main-footer {
  position: relative;
  width: 100%;
  padding: 55px;
  height: 140px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  text-shadow: 0em 0em 0em black;
  background: #212529;
  border-top: 4px solid #e74c3c;
}
