* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Roboto Slab", serif;
  background-color: #f5f5f5;
}

.carousell {
  display: none;
}

/* Carousell Section Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  #wrapper {
    display: none;
  }

  .carousell {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 1em auto;
    margin-left: 5px;
  }

  .slider-outer {
    width: 100%;
    height: auto;
  }

  .slider-inner {
    width: 90vw;
    height: 20em;
    position: relative;
    float: left;
    overflow: hidden;
    border: #dd3927 solid 4px;
  }

  .slider-inner img {
    display: none;
    width: 95vw;
    height: -webkit-fill-available;
  }

  .slider-inner img.first-img {
    display: inline-block;
  }

  .prev,
  .next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
  }

  .prev {
    position: relative;
    margin-right: -46px;
    z-index: 100;
  }

  .next {
    position: relative;
    margin-left: -48px;
    z-index: 100;
  }
}

/* Image Slider Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  #wrapper {
    display: none;
  }

  .carousell {
    display: inline-block;
    width: 100%;
    margin: 4em auto;
    margin-left: 0.5em;
  }

  .slider-inner {
    width: 95vw;
    height: 35em;
    position: relative;
    float: left;
    overflow: hidden;
    border: #dd3927 solid 4px;
  }

  .slider-inner img {
    display: none;
    width: 95vw;
    height: -webkit-fill-available;
  }

  .slider-inner img.first-img {
    display: inline-block;
    align-content: center;
  }

  .prev,
  .next {
    float: left;
    margin-top: 15em;
    cursor: pointer;
  }

  .prev {
    position: relative;
    margin-right: -46px;
    z-index: 100;
  }

  .next {
    position: relative;
    margin-left: -48px;
    z-index: 100;
  }
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
  border-top: 4px solid #e74c3c;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.content-body p {
  text-align: center;
  font-size: 1.4vw;
}

/* White and Grey Image and (Title - h1) */

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 1vw;
}

/* Grey Page Section */

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #dd3927;
  font-size: 4vw;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* White Page Section */

.top h1 {
  color: #192a56;
  font-size: 5vw;
}

.top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

/* Moving Page Separator */

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #e74c3c;
  width: 4px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Short-Biography */

#read {
  display: none;
}

.bio {
  padding: 10rem 0;
  background-color: #222;
  text-align: center;
  line-height: 3rem;
  border-top: 4px solid #e74c3c;
}

.bio-h2 {
  color: #fff;
  font-size: 2.5vw;
  padding: 20px;
  line-height: 5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.bio p {
  text-align: center;
  padding: 0 200px;
  font-size: 1.5vw;
  color: rgba(255, 255, 255, 0.7);
}

/* Short-Biography Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  .bio {
    padding: 4rem 0;
  }

  .bio-h2 {
    font-size: 7vw;
  }

  .bio p {
    padding: 0 10px;
    line-height: 8vw;
    margin-bottom: 50px;
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.7);
  }

  button {
    width: 35vw;
    padding: 0.1rem;
    text-decoration: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: #212529;
    background-color: #fff;
    cursor: pointer;
    border: 10px solid transparent;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 5px;
  }

  button:hover {
    background-color: #343a40;
    color: #f5f5f5;
    transition: ease-in-out 0.3s;
  }

  #read {
    display: block;
  }

  #more {
    display: none;
  }
}

/* Short-Biography Media Querry Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  .bio {
    padding: 6rem 0;
    background-color: #222;
    text-align: center;
    border-top: 4px solid #e74c3c;
  }

  .bio-h2 {
    margin-top: 50px;
    font-size: 5vw;
  }

  .bio p {
    text-align: center;
    padding: 0 40px;
    margin-bottom: 50px;
    font-size: 4vw;
    color: rgba(255, 255, 255, 0.7);
  }

  #more {
    display: none;
  }

  #read {
    display: block;
  }

  button {
    width: 15vh;
    padding: 0.1rem;
    text-decoration: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    color: #212529;
    background-color: #fff;
    cursor: pointer;
    border: 10px solid transparent;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 5px;
  }

  button:hover {
    background-color: #343a40;
    color: #f5f5f5;
    transition: ease-in-out 0.3s;
  }
}

/* Navigation Menu */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

nav.black {
  background: #000000;
  height: 90px;
  padding: 10px 100px;
  opacity: 0.5;
}

nav .logo {
  padding: 10px 20px;
  float: left;
  font-size: 1.8vw;
  transition: 0.3s;
}

nav.black .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  font-size: 1.4rem;
  color: #151515;
  padding: 20px 15px;
  text-decoration: none;
  transition: 0.3s;
  text-transform: capitalize;
}

nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
  outline: none;
}

nav ul li a .active {
  background: #e2472f;
  color: #fff;
  padding: 20px 30px;
  border-radius: 1.5vh;
}

/* LinkedIn Profile Section */

.profile-li {
  background: #e74c3c;
  padding: 8rem 0;
  box-shadow: inset 0 0 20px #000000;
}

.profile-li h2 {
  width: 100%;
  font-size: 2.7vw;
  font-weight: 400;
  line-height: 2em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.profile-li p {
  font-size: 1.5vw;
  text-align: center;
  line-height: 5em;
  color: rgba(255, 255, 255, 0.7);
}

/* LinkedIn Profile Section Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  .profile-li {
    padding: 3rem 0;
    box-shadow: inset 0 0 0.6px #000000;
  }

  .profile-li h2 {
    font-size: 6vw;
  }

  .profile-li p {
    font-size: 4.8vw;
  }
}

/* LinkedIn Profile Media Querry Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  .profile-li {
    padding: 7rem 0;
    box-shadow: inset 0 0 0 1px #000000;
  }

  .profile-li h2 {
    font-size: 6vw;
  }

  .profile-li p {
    font-size: 4vw;
  }
}

/* HR Tag - Divider */

hr.divider {
  max-width: 4rem;
  border-color: #fff;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-width: 2px;
}

/* Button */

.button {
  display: block;
  width: 25vh;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #212529;
  background-color: #fff;
  cursor: pointer;
  border: 15px solid transparent;
  border-radius: 2.5rem;
  box-shadow: 10px 5px 5px;
}

.button:hover {
  background-color: #343a40;
  color: #f5f5f5;
  transition: ease-in-out 0.3s;
}

/* Button Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  .button {
    width: 25vh;
    font-size: 0.7rem;
    font-weight: 600;
  }
}

/* Button Media Querry Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  .button {
    width: 20vh;
    padding: 0.8rem 0.5rem;
    font-size: 2.2vw;
    font-weight: 600;
  }
}

/* About Me Section */

.container {
  width: 100%;
  padding: 7rem 0;
  background-color: #192a56;
  overflow: hidden;
}

#boxes .box {
  text-align: center;
  padding: 20px;
}

#boxes .box img {
  width: 200px;
}

.box h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#boxes .box p {
  font-size: 1.5rem;
  padding: 0 450px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

/* About Me Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  #boxes .box img {
    width: 130px;
  }

  .box h2 {
    font-size: 1.5rem;
  }

  #boxes .box p {
    padding: 0 50px;
    font-size: 1.1rem;
    text-align: center;
  }
}

/* About Me Media Querry Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  #boxes .box p {
    padding: 0 180px;
  }
}

/* Contact Section */

.contact {
  background-image: linear-gradient(
      rgba(5, 11, 26, 0.75) 100%,
      rgba(226, 211, 209, 0.6) 100%
    ),
    url(/img/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11rem;
  box-shadow: inset 0 0 10px #000000;
}

.contact h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 2em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.contact p {
  margin: 7px;
  font-size: 1.7rem;
  text-align: center;
  padding: 0 300px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* Contact Section Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  .contact {
    padding: 2rem;
    background-position: right;
  }

  .contact h2 {
    font-size: 2.2rem;
    padding: 1rem;
  }

  .contact p {
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Contact Info Section */

.cont-info {
  display: table;
  margin: 0 auto;
}

.cont-info p {
  width: 100%;
  color: #e74c3c;
  padding: 15px;
  text-align: center;
}

.cont-info p:hover {
  color: #f5f5f5;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

/* Contact Info Media Querry Mobile */

@media screen and (min-width: 299px) and (max-width: 750px) {
  .cont-info p {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
  }
}

/* Contact Info Media Querry Tablet */

@media screen and (min-width: 751px) and (max-width: 1025px) {
  .contact {
    padding: 9rem;
    margin: 0 auto;
  }

  .contact p {
    padding: 0 40px;
  }
}

/* Footer */

#main-footer {
  position: relative;
  width: 100%;
  padding: 55px;
  height: 140px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  text-shadow: 0em 0em 0em black;
  background: #212529;
  border-top: 4px solid #e74c3c;
}

/* Footer Media Querry Mobile*/

@media screen and (min-width: 299px) and (max-width: 750px) {
  #main-footer {
    height: 60px;
    padding: 50px;
    font-size: 0.7rem;
  }
}
