.footer {
  position: relative;
  height: 45vh;
  max-width: 100%;
  padding: 0 15%;
  background: $ebony-clay;
  color: $athens-gray;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.75);
  .inner-footer {
    display: flex;
    align-items: center;
    margin: auto;
    .logo-container {
      width: 100%;
      margin: auto;
      float: left;
      height: 100%;
      display: block;
      background: $ebony-clay;
      img {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 15vw;
        color: $athens-gray;
        padding-top: 2em;
        z-index: 100;
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.9s ease-in-out;
        &:hover {
          transform: rotateY(360deg);
        }
      }
    }
    .footer-md-text {
      width: 100%;
      .logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.2vw;
        font-weight: 500;
        text-align: center;
        margin: auto;
        &:first-child {
          font-size: 1.9vw;
          font-weight: bold;
          margin-bottom: 0.5em;
          margin-top: -0.7em;
          text-shadow: 4px 3px 0px #333, 9px 8px 0px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
  .footer-icons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.9vw;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 0.5em;
      margin-top: -0.7em;
      text-shadow: 4px 3px 0px #333, 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
    a {
      font-size: 2.2vw;
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      &:hover {
        transform: scale(1.8);
        transition: ease-in-out 0.3s;
        color: $ghost-white;
      }
    }
  }
  .footer-bottom {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 45% 40px 45%;
    background: $ebony-clay;
    text-align: center;
    .bottom {
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.6);
      background: $ebony-clay;
      font-size: 1vw;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        transition: ease-in-out 0.3s;
        color: $ghost-white;
      }
    }
  }
}
