.container {
  width: 100%;
  padding: 7rem 0;
  background-color: #192a56;
  overflow: hidden;
}

.boxes .box {
  text-align: center;
  padding: 20px;
}

.boxes .box img {
  width: 200px;
}

.box h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.boxes .box p {
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 760px) {
  .boxes .box,
  .boxes .box img {
    width: 75%;
    margin-right: 20px;
    display: inline-block;
  }
}
