main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  box-shadow: inset 0 0 20px $plain-black;
  .modal {
    width: 40%;
    height: 60%;
    border-radius: 0.5em;
    position: relative;
    .nav {
      left: 40px;
      bottom: -40px;
      width: 80px;
      height: 40px;
      position: absolute;
      box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.53);
      transform: translateY(-30px);
      opacity: 0;
      animation: nav-animation 0.5s 1s ease forwards;
      transition: 0.5s;
    }
    .nav .nav-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;
    }
    .nav .prev {
      left: 0;
    }
    .nav .prev:hover {
      transform: translateX(-5px);
    }
    .nav .next {
      right: 0;
    }
    .nav .next:hover {
      transform: translateX(5px);
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 30px 140px 40px 50px;
      color: $athens-gray;
      background: $ebony-clay;
    }
    .modal-body {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.53);
      border-top-left-radius: 0.8em;
      border-top-right-radius: 0.8em;
      border-bottom-left-radius: 0.8em;
      position: relative;
      overflow: hidden;
      .content h1 {
        padding: 0.4vw 0;
        font-family: inherit;
        font-size: 2.2vw;
        font-weight: bold;
        text-align: center;
        transform: translateY(-1.25em);
        opacity: 0;
        animation: animate-text-down 1s 0.6s forwards;
        transition: 0.5s;
        text-shadow: 4px 3px 0px #333, 9px 8px 0px rgba(0, 0, 0, 0.15);
      }
      .content p {
        font-family: "Roboto", sans-serif;
        font-size: 1.4vw;
        font-weight: 400;
        line-height: 1.5em;
        text-align: center;
        padding: 1em 0;
        transform: translateY(-20px);
        opacity: 0;
        animation: animate-text-down 1s 0.9s forwards;
        transition: 0.5s;
      }
      .circ {
        width: 300px;
        height: 300px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -150px;
        right: -150px;
        z-index: 10;
        animation: main-circ 6s ease forwards infinite;
        transition: 0.5s;
      }
      .circ > div {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.5s;
      }
      .circ1 {
        width: 100px;
        height: 100px;
        animation: scale-circ ease 0.6s forwards;
      }
      .circ2 {
        width: 200px;
        height: 200px;
        background-color: $plain-white;
        animation: scale-circ ease 0.6s 0.2s forwards;
      }
      .circ3 {
        width: 300px;
        height: 300px;
        animation: scale-circ ease 0.6s 0.4s forwards;
      }
      .tt {
        transition: 0.4s;
      }
    }
  }
}
.bio-active {
  background: #386895;
}
.bio-active .default-color {
  background: #386895;
}
.view1--active {
  background: #b71540;
}
.view1--active .default-color {
  background: #b71540;
}
.view2--active {
  background: #b2bec3;
}
.view2--active .default-color {
  background: #b2bec3;
}

body .fade-out .tt {
  opacity: 0;
  transform: translateY(-20px);
}
body .fade-out .circ {
  opacity: 0;
  transform: scale(0.5);
}
@-moz-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@-o-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
