.button {
  display: block;
  width: 20vh;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #212529;
  background-color: #fff;
  cursor: pointer;
  border: 15px solid transparent;
  border-radius: 2.5rem;
  box-shadow: 10px 5px 5px;
}

.button:hover {
  background-color: #343a40;
  color: #f5f5f5;
  transition: ease-in-out 0.3s;
}
